h1 {
    color: green;
}

.teste {
    color: red;
}

#teste {
    color: pink;
}

div.formulario {
    margin: 40px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}