* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(211, 211, 211, 0.57);
}

/* eixos */
.eixo_superior,
.eixo_lateral {
    font-size: x-large;

    span {
        margin: 30px;
        justify-items: center;
    }
}

/* containers */
.container1,
.placar {
    margin: 5px;
}

.container1 {
    width: max-content;
    display: flex;
    gap: 2px;
    background: rgb(128, 128, 128);
    border-radius: 12px;
    border: 1px solid black;
}

/* poltronas esquerda */
.poltronas_esquerda {
    grid-column: 1 / 5;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: space-evenly;
    width: max-content;
    grid-gap: 6px 6px;

    grid-template-columns: 70px repeat(2, 70px);
    grid-template-rows: repeat(5, 70px);
    margin: 10px;

    .eixo_superior {
        grid-column: 2 / span 2;
    }

    .eixo_lateral {
        grid-column: 1;
        grid-row: 2 / span 5;
        display: grid;
        grid-template-rows: repeat(5, 70px);
        justify-items: center;
        align-items: center;
    }
}

/* poltronas direita */
.poltronas_direita {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: space-evenly;
    width: max-content;
    grid-gap: 6px 6px;

    grid-template-columns: repeat(2, 70px);
    grid-template-rows: repeat(5, 70px);
    margin: 10px;

    .eixo_superior {
        grid-column: 1 / 3;
    }
}

/* tela */
#tela {
    gap: 30px;
    margin-top: 40px;
    border: 1px solid black;
    background: rgb(199, 199, 199);
    padding: 20px;
    padding-right: 900px;
    grid-row: 7 / 12;
}

/* poltronas centro */
.poltronas_centro {
    height: 100%;
    display: grid;
    width: min-content;
    justify-content: center;
    align-items: space-evenly;
    grid-gap: 6px 6px;

    grid-template-rows: repeat(6, 70px);
    grid-template-columns: repeat(12, 70px);
    margin: 10px;

    .eixo_superior {
        display: grid;
        padding-left: 5px;
        grid-column: 1 / 13;
        margin-left: 5px;
        margin-right: 5px;

        span {
            align-self: center;
        }
    }
}

.container1 .eixo_superior {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* placar */
.placar {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    padding: 10px;
    font-size: large;
    align-items: center;
    background-color: gainsboro;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
    width: max-content;
    font-weight: bold;

    .poltrona_livre {
        width: min-content;
        border: 1px solid black;
        border-radius: 6px;
        background: rgb(2, 155, 15);
        padding: 20px;
    }

    .poltrona_ocupada {
        width: min-content;
        border: 1px solid black;
        border-radius: 6px;
        background: rgb(194, 2, 2);
        padding: 20px;
    }
}

/* parâmetros */
.parametros {
    margin-left: 100px;
    grid-template-areas:
        "parametros" "valor_parametro";
    font-weight: bold;

    #parametros {
        grid-area: parametro;
    }

    valor {
        grid-area: valor_parametro;
        grid-row: 2;
    }
}

.poltrona {
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(2, 155, 15);
    padding: 20px;
    text-decoration: none;
}

.poltrona:hover {
    color: white;
    border: 2px solid black;
    background: rgb(2, 112, 11);
    font-size: large;
    font-weight: bold;
}

/* Seção superior */
.secao_superior {
    text-align: center;

    p {
        font-size: larger;
        font-weight: bold;
    }
}

/* Rodapé */
footer {
    display: block;
    background: black;
    padding: 15px;
    color: white;
    font-size: medium;
    text-align: center;
    text-decoration: none;
}

footer a {
    color: rgb(0, 118, 214);
    text-decoration: none;
}

footer a:hover {
    color: rgb(0, 94, 171);
    font-weight: bold;
    text-decoration: none;
}
