
.container {
    display: grid; /*configuração para formato de tabela*/
    justify-content: center;
    text-align: center;

    /*minmax(valor minimo, valor maximo)*/
    /*grid-template-columns: repeat(3, minmax(100px, 200px)); /*tamanho e numero de colunas*/
    
    /*repeat resume as propriedades nesta sintaxe: repeat(qntde de elementos, tamanho de cada elemento)*/
    /*grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px); /* tamanho de uma linha de elementos da tabela grid*/
    
    /*fr funciona como uma fatia, a soma e a quantidade total de fatias representam porcentagens*/
    /*ex: 1fr   1fr    2fr  -> 5fr*/
    /*    25%   25%    50% = 100% -> 5fr*/
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(3, 100px);
    
    /*gap: 10px; /*espacamento geral(colunas, linhas) entre cada retangulo da tabela grid */
    grid-gap: 10px 15px; /*espacamento com tamanho: (colunas, linhas)
    grid-row-gap: 10px; /*espacamento entre todas as linhas do grid
    grid-column-gap: 30px; espacamento entre todas as colunas do grid*/

}

.container div {
    padding: 40px;
    color: aliceblue;
    background-color: brown;
    border-radius: 4px;
}