body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #342397ff;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}