table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    background: #fff;
}

th,
td {
    border: 1px solid #ccc;
    padding: 7px 12px;
}

th {
    background: #2477ff;
    color: #fff;
}

tr:nth-child(even) {
    background: #f1f1f1;
}

.container {
    width: 80%;
    margin: auto;
}

#sair {
    text-align: center;
    margin-top: 30px;
}