body {
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left; /*flutua links cabecalho pra direcao especifica*/
}
/*cores: chocolate, 111111, cadetblue, brown*/
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111111;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111111f4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #1111118c;}

.dropdown:hover .dropdown-content {
  display: block;
}

.painel {
    padding: 50px;
    background-color: rgba(162, 125, 125, 0.127);
}

.painel p {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: gray;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer {
    text-align: center;
    color: white;
    background-color: chocolate;
}