* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    flex: 1;
    /* ocupa o espaço restante */
    background-color: #f3eeee;
    display: flex;
    align-items: center;
    /* centraliza verticalmente */
    justify-content: center;
    /* centraliza horizontalmente */
    text-align: center;
}

a {
    background-color: #ff4b2b;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;
}